<div id="box" class="container">
  <form [formGroup]="articleForm" class="row" (ngSubmit)="onSubmit()">
    <!-- title -->
    <label for="title">Titre de l'article :
      <input type="text" name="title" id="title" formControlName="titleMain">
    </label>
    <!-- resume -->
    <label for="resume">Résumé de l'article :
      <input type="text" name="resume" id="resume" formControlName="resume">
    </label>

    <!-- grade -->
    <label for="grade">Note de l'article /10 :
      <input type="number" name="grade" id="grade" formControlName="grade">
    </label>

    <!-- opinion -->
    <label for="opinion">Avis sur l'article :
      <input type="text" name="opinion" id="opinion" formControlName="opinion">
    </label>

    <!-- dateCreation -->
    <label for="dateCreation">Date de création :
      <input type="date" name="dateCreation" id="dateCreation" formControlName="dateCreation">
    </label>

    <!-- dateModification -->
    <label for="dateModification">Date de création :
      <input type="date" name="dateModification" id="dateModification" formControlName="dateModification">
    </label>

    <!-- images -->
    <button class="btn btn-success" type="button" (click)="filePicker.click()">Ajouter image</button>
    <input type="file" #filePicker (change)="onImagePick($event)">
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="">
    </div>

    <button type="submit" [disabled]="!articleForm.valid">Submit</button>
  </form>

</div>
